<footer class="footer bg-gray-800">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Hostel</h4>
                <ul>
                    <li class="foot"><a href="#">about us</a></li>
                    <li class="foot"><a href="#">our services</a></li>
                    <li class="foot"><a href="#">privacy policy</a></li>
                    <li class="foot"><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li class="foot"><a href="#">FAQ</a></li>
                    <li class="foot"><a href="#">booking</a></li>
                    <li class="foot"><a href="#">refund</a></li>
                    <li class="foot"><a href="#">status</a></li>
                    <li class="foot"><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>facilities</h4>
                <ul>
                    <li class="foot"><a href="#">sports</a></li>
                    <li class="foot"><a href="#">Mess</a></li>
                    <li class="foot"><a href="#">Aarogyam</a></li>
                    <li class="foot"><a href="#">Laundry</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#">ⓕ</a>
                    <a href="#">🐦</a>
                    <a href="#">📷</a>
                    <a href="#">in</a>
                </div>
            </div>
        </div>
    </div>
</footer>
